main {
    padding: 10vh 10vh 10vh 10vh;
    background-color: blue;
}

main .sentence{
    font-family: "Escargoth";
    font-size: clamp(1rem, 6vw, 10rem);
    color: white;
}


@media (max-width: 900px) {
    .year {
        display: flex;
        flex-direction: column;
        
    }
}
main .about{
    font-family: "Jost";
    color: white;
    font-size: 3vh;
}

.history h2{
    font-family: "Jost";
    font-weight: 400;
    font-style: italic;
    font-size: clamp(.5rem, 1rem, 2rem);
    text-align: center;
    color: blue;
}

.history{
    padding: 0px;
    margin: 5vh 10vh 10vh 10vh;
    background-color: white;
}

.history h1{
    font-family: "Escargoth";
    color: blue;
    text-align: center;
    font-size: 7vh;
    font-weight: 100;
}

.year{
    display: flex;
    align-items: center;
    margin: 5vh 10vh 10vh 10vh;
    gap: 10vh;
}

.year .desc{
    font-family: "Jost";
    color: blue;
    font-size: 3vh;
}

.year h2{
    font-family: "Jost";
    color: blue;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
}

 .year img {
  max-width: 25rem;
  height: auto;
}

@keyframes appear{
    from{
        opacity: 0;
        transform: translateX(-100px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

.year{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}