*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Jost";
    background-color: blue;
}

.contact-left-title{
    text-align: center;
}

h2{
    font-family: "Escargoth";
    color: white;
    font-size: 3rem;
    font-weight: 100;
}

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-inputs{
    width: 100vh;
    height: 50px;
    border: none;
    outline: none;
    padding: 25px;
    border-radius: 50px;
    font-family: "Jost";
    font-size: 20px;
    color: blue;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 5px solid blue;
}

.contact-inputs::placeholder{
    color: rgb(200, 200, 207);
    font-family: "Jost"
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 10px 30px;
    font-size: 16px;
    background-color: white;
    gap: 10px;
    border-radius: 50px;
    border: none;
    font-family: "Jost";
    color: blue;
}

.contact-left button:focus{
    border: 5px solid blue;
}

@media (max-width: 800px){
    .contact-inputs{
        width: 80vw;
    }
}

.contact-right{
    display: none;
}

footer {
    background-color: white;
}

footer h2{
    color: blue;
}